@page "/prueba-lista-paginable"
@using Ejemplos.Components

@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>PruebaTablePaginable</h3>

<div class="card">
    <div class="row align-items-center mb-3">
        <div class="col-sm-12 col-md-4">
            <label>
                <span>Mostrar</span>
                <select class="form-control" @onchange="CambiarItemsPorPagina">
                    <option value="2" selected="@(itemsPorPagina == 2)">2</option>
                    <option value="4" selected="@(itemsPorPagina == 4)">4</option>
                    <option value="5" selected="@(itemsPorPagina == 5)">5</option>
                    <option value="10" selected="@(itemsPorPagina == 10)">10</option>
                </select>
                <span> Entradas</span>
            </label>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Persona p in _personasPaginadas)
            {
                <tr>
                    <td>@p.Dni</td>
                    <td>@p.Nombre</td>
                </tr>
            }
        </tbody>
    </table>

    <PaginacionComponent TItem="Persona" TotalItems="@_personas.Count" ItemsPorPagina="@itemsPorPagina" PaginaActual="@paginaActual" OnCambioDeTamanioPagina="CambiarPagina" />
</div>

@code {
    int itemsPorPagina = 2;
    int paginaActual = 1;

    private void CambiarPagina(int nuevaPagina)
    {
        paginaActual = nuevaPagina;
    }

    List<Persona> _personas = new List<Persona>()
    {
        new Persona{ Dni=23343243, Nombre="Maria" },
        new Persona{ Dni=33343243, Nombre="Leonor" },
        new Persona{ Dni=43343243, Nombre="Norberto" },
        new Persona{ Dni=35343243, Nombre="Andrés" },
        new Persona{ Dni=43343241, Nombre="Estefanía" },
        new Persona{ Dni=35343242, Nombre="Daniela" },
        new Persona{ Dni=35366242, Nombre="Estela" },
        new Persona{ Dni=35359242, Nombre="Hernan" },
    };
    private List<Persona> _personasPaginadas
    {
        get
        {
            return _personas
                        .Skip((paginaActual - 1) * itemsPorPagina)
                        .Take(itemsPorPagina)
                        .ToList();
        }
    }

    private void CambiarItemsPorPagina(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int nuevosItems))
        {
            itemsPorPagina = nuevosItems;
            paginaActual = 1;
            StateHasChanged();
        }
    }

    class Persona
    {
        public int Dni { get; set; }
        public string Nombre { get; set; }
    }
}
